# First import Pandas

In [3]:
import pandas as pd

# Creating Pandas Series object and storing some values in it ?

In [5]:
obj = pd.Series([1,"John", 3.5, "Hey"]) 
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

# Retrieve the value at the first position using indexing

In [7]:
obj[1]

'John'

# Retrieve the underlying array of values from the 'obj' Series object.

In [8]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

# Create a pandas Series object named 'obj2'also add additional parameter specified: index=["a","b","c","d"]. and Check the putput

In [9]:
obj2 = pd.Series([1,"John", 3.5, "Hey"], index = ["a", "b", "c", "d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [13]:
obj2["a"]

1

# Retrieve the index labels associated with the 'obj2' Series object.

In [14]:
obj2["b"]

'John'

In [16]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# Create a dictionary named 'score' that contains key-value pairs representing the names of individuals as keys and their corresponding scores as values and then convert the 'score' dictionary into a pandas Series object named 'names' using the pd.Series() function

In [20]:
score = {"Jane" : 90, "Bill" : 80, "Elon" : 85, "Tom": 75, "Tim" : 95}
score
names = pd.Series(score)
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

# Retrieve the value associated with the index label "Tim" from the 'names' Series.

In [23]:
names["Tim"]

95

# Select the entries from the 'names' Series where the score is 85 or higher. The result should be a subset of the 'names' Series that satisfies the given condition.

In [24]:
names[names >= 85]

Jane    90
Elon    85
Tim     95
dtype: int64

# Assign a new value of example= 60 to the existing index label "Tom" in the 'names' Series.

In [25]:
names["Tom"] = 60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

# Modify the 'names' Series by assigning a new value of 83 to the elements where the corresponding score is less than or equal to 80.

In [26]:
names[names<=80] = 83
names

Jane    90
Bill    83
Elon    85
Tom     83
Tim     95
dtype: int64

# Take a membership tests that check whether the strings "Tom" and "Can" are present as index labels in the 'names' Series.

In [27]:
"Tom" in names

True

In [28]:
"Can" in names

False

# Perform an element-wise division on the 'names' Series by dividing each score by 10.

In [29]:
names/10

Jane    9.0
Bill    8.3
Elon    8.5
Tom     8.3
Tim     9.5
dtype: float64

# Perform an element-wise exponentiation on the 'names' Series by squaring each score.

In [30]:
names ** 2

Jane    8100
Bill    6889
Elon    7225
Tom     6889
Tim     9025
dtype: int64

# Check for any missing or null values in the 'names' Series

In [31]:
names.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim     False
dtype: bool