In [2]:
import numpy as np
import pandas as pd

In [3]:
d1=pd.DataFrame({
    "key":["a","b","c","c","d","e"],
    "num1":range(6)
})
d2=pd.DataFrame({
    "key":["b","c","e","f"],
    "num2":range(4)
})

In [5]:
# merge the dataframe
pd.merge(d1,d2)

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [7]:
pd.merge(d1,d2,on="key")

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [9]:
d3=pd.DataFrame({
    "key1":["a","b","c","c","d","e"],
    "num1":range(6)
})
d4=pd.DataFrame({
    "key2":["b","c","e","f"],
    "num2":range(4)
})
d3,d4

(  key1  num1
 0    a     0
 1    b     1
 2    c     2
 3    c     3
 4    d     4
 5    e     5,
   key2  num2
 0    b     0
 1    c     1
 2    e     2
 3    f     3)